.active {
  background: teal;
  color: white;
}
body {
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
  background: #f5f7f8;
  color: #222;
}

/* Текст поста */
.post p {
  margin: 0;
  line-height: 1.6;
  color: #555;
}
/* Пагинация */
.pagination {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
/* Кнопки пагинации */
.pagination button {
  border: none;
  padding: 10px 16px;
  min-width: 50px;
  border-radius: 10px;
  background: white;
  color: #111;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}
.pagination button:hover {
  background: #e7f3f3;
}

.pagination button.active {
  background: teal;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

dialog {
  padding: 0;
  border: none;
  border-radius: 14px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog {
  width: 360px;
  padding: 24px;
  background: white;
  border-radius: 14px;
}

.modal-close-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: teal;
  color: white;
  cursor: pointer;
}

#openButton {
  margin-top: 15px;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  background: white;
  color: #111;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid teal;
}

#openButton:hover {
  background: #e7f3f3;
}
